In [1]:
import os
os.chdir('/Users/yuxiding/Desktop/Test_GlucoCheck')

In [2]:
from GlucoCheck.glucoCheck import glucoCheckOps

Using TensorFlow backend.
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
glucoCheckObject = glucoCheckOps()

Object Created!

In [4]:
glucoCheckObject.consolidatedData

               Display Time  GlucoseValue subjectId
0       2016-06-21 00:00:00         197.0     GVP01
1       2016-06-21 00:15:00         208.0     GVP01
2       2016-06-21 00:30:00         226.0     GVP01
3       2016-06-21 00:45:00         241.0     GVP01
4       2016-06-21 01:00:00         250.0     GVP01
...                     ...           ...       ...
316522  2025-06-28 23:36:00         206.0     OD584
316523  2025-06-28 23:41:00         208.0     OD584
316524  2025-06-28 23:46:00         213.0     OD584
316525  2025-06-28 23:51:00         224.0     OD584
316526  2025-06-28 23:56:00         235.0     OD584

[316527 rows x 3 columns]

In [5]:
glucoCheckObject.gvIndices()

,GFI,GCF,LBGI,HBGI,BGRI,GRADE,HypoG_P,EuG_P,HyperG_P,J Index,...,Hyperglycemic Episodes,IGC,Hypoglycemic Index,Hyperglycemic Index,Liability Index,ADDR,MODD,CONGA1,CONGA2,CONGA4
Subject ID,,,,,,,,,,,,,,,,,,,,,
1636-69-001,4.61,0.04,1.52,1.23,2.74,193.20,0.00,86.41,13.59,20.04,...,0,3.08,0.98,2.10,100.69,4.04,0.00,37.66,51.23,44.12
1636-69-001-2,4.22,0.04,0.48,0.66,1.14,196.32,0.12,85.92,13.95,18.62,...,0,1.91,1.23,0.68,155.57,3.45,9.38,8.87,11.00,8.27
1636-69-026,4.89,0.04,0.36,0.60,0.96,196.52,0.20,86.74,13.06,18.29,...,0,1.97,1.40,0.58,246.96,3.45,-0.75,3.88,4.15,3.65
1636-69-028,3.89,0.04,0.64,0.29,0.93,194.57,0.00,93.73,6.27,15.91,...,0,1.67,1.28,0.38,74.27,2.86,23.77,2.85,3.45,4.34
1636-69-032,4.03,0.04,0.60,0.14,0.74,194.18,0.07,97.64,2.29,14.72,...,0,1.74,1.47,0.27,59.34,3.17,4.49,2.54,3.38,3.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OD575,7.65,0.05,1.83,4.87,6.70,200.54,7.99,48.81,43.20,39.53,...,35,10.86,8.13,2.73,6312.68,4.03,56.71,0.96,1.46,1.79
OD584,9.24,0.05,0.23,11.91,12.14,211.51,0.81,21.84,77.35,66.16,...,191,12.25,8.34,3.91,6615.97,4.56,-56.74,0.98,1.45,1.75
OD588,6.56,0.04,0.34,7.19,7.53,207.14,0.98,33.02,66.00,46.63,...,114,7.02,4.34,2.67,4404.21,4.45,-84.18,0.83,1.21,1.56
OD591,8.49,0.05,1.05,6.69,7.74,204.43,3.66,40.60,55.75,46.06,...,88,10.19,7.22,2.96,5790.75,4.33,41.65,0.93,1.31,1.78
OD596,6.32,0.04,0.67,5.00,5.67,203.09,1.92,48.47,49.62,38.94,...,60,5.30,2.88,2.42,3279.82,4.33,-7.05,0.65,1.01,1.41

In [6]:
glucoCheckObject.individualGvIndices('1636-69-032')

,GFI,GCF,LBGI,HBGI,BGRI,GRADE,HypoG_P,EuG_P,HyperG_P,J Index,...,Hyperglycemic Episodes,IGC,Hypoglycemic Index,Hyperglycemic Index,Liability Index,ADDR,MODD,CONGA1,CONGA2,CONGA4
Subject ID,,,,,,,,,,,,,,,,,,,,,
1636-69-032,4.03,0.04,0.6,0.14,0.74,194.18,0.07,97.64,2.29,14.72,...,0,1.74,1.47,0.27,59.34,3.17,4.49,2.54,3.38,3.84